@media screen and (max-width: 500px) {
  body{
    background-color: #f0f0f0;
  }
  .container{
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 1fr 6fr;
    background-color: inherit;
    gap: 5px;
  }
  a:link{
    color: #42409e;
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }
  a:visited {
    color: #040347;
    text-decoration: none;
  }
  p{
    padding: 15px 50px;
  }
  h1, h2{
    font-family: Georgia, Didot, serif;
    padding-left: 20px;
    color: #040347;
  }
  p{
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
    padding: 0px 50px 15px;
  }
  img{
    padding-left: 25px;
    padding-right: 25px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
  }
  li {
    display: inline;
    padding-right: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
  }
  .header {
    /* background-color: red; */
  }

  .toc {
    /* background-color: yellow; */
  }

  .content{
    /* background-color: green; */
  }
}

@media screen and (min-width: 501px){
  body{
    background-color: #f0f0f0;
  }
  .container{
    display: grid;
    padding: 20px;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: inherit;
    align-content: center;
    gap: 20px;
  }
  h1, h2{
    font-family: Georgia, Didot, serif;
    padding-left: 20px;
    color: #040347;
  }
  h1{
    font-size: 48pt;
  }
  p{
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
    padding: 0px 50px 15px;
  }
  img{
    align-items: center;
    max-width: 200px;
    width: 75%;
    display: block;
    margin: auto;
  }
  ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
  }
  li {
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-family: "Open Sans", helvetica, tahoma, sans-serif;
  }
  a:link{
    color: #42409e;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #040347;
    text-decoration: none;
  }
  .header {
    padding-top: 45px;
    /* background-color: red; */
    grid-column: 1 / 4;
  }
  .toc {
    /* background-color: yellow; */
    grid-row: 2 / 4;
  }
  .content{
    /* background-color: green; */
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }
}
