@media screen and (max-width: 899px) { /* mobile screen */
  body{
    background-color: #f0f0f0;
  }
  .container{
    display: grid;
    padding: 20px;
    grid-template-rows: 20px 175px 2fr 5fr;
    grid-template-columns: 20px 1fr 1fr;
    background-color: inherit;
    gap: 5px;
  }
  a:link{
    color: #42409e;
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }
  a:visited {
    color: #040347;
    text-decoration: none;
  }
  h1, h2{
    font-family: Georgia, Didot, serif;
    padding-left: 20px;
    color: #040347;
  }
  h1{
    font-size: 24pt;
  }
  h2{
    font-size: 16pt;
    margin: 0px;
    height: 20px;
  }
  p{
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
    padding-left: 20px;
    font-size: 10pt;
    margin-top: 10px;
  }
  img{
    max-width: 175px;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
  }
  li {
    display: inline;
    padding-right: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
  }
  .goBack{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .header {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: start;
  }
  #back {
    width: 20px;
  }
  .content {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .images {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
}

@media screen and (min-width: 900px) { /* desktop view */
  body{
    background-color: #f0f0f0;
  }
  .container {
    display: grid;
    padding: 20px;
    grid-template-rows: 20px 175px 3fr 7rfr;
    grid-template-columns: 20px 1fr 1fr;
    background-color: inherit;
    align-content: center;
    gap: 20px;
  }
  h1, h2{
    font-family: Georgia, Didot, serif;
    padding-left: 20px;
    color: #040347;
  }
  h1{
    font-size: 36pt;
  }
  p{
    font-family: "Open Sans", helvetica, Tahoma, sans-serif;
    padding-top: 15px;
    padding-left: 20px;
  }
  img{
    padding: 5px;
    max-width: 300px;
  }
  ul {
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
  }
  li {
    padding: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-family: "Open Sans", helvetica, tahoma, sans-serif;
  }
  a:link{
    color: #42409e;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #040347;
    text-decoration: none;
  }
  .goBack {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #back {
    width: 20px;
  }
  .header {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    align-self: start;
  }
  .content{
    grid-row: 3 / 4;
    grid-column:  2 / 4;
  }
  .images {
    grid-row: 4 / 5;
    grid-column:  2 / 4;
  }
}
