h1, h2 {
  font-family: "Times New Roman", Times, san-serif;
}

h1 {
  font-size: 48pt;
  margin-left: 50px;
  padding-bottom: 0px;
  color: #040347;
  text-align: center;
}

hr {
  border-top: 5px solid black;
}

h2 {
  color: #040347;
  margin-left: 15px;
  font-size: 24pt;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  text-align: center;
}

li {
  display: inline;
  padding-right: 30px;
  padding-left:30px;
  font-weight: bold;
  font-family: "Open Sans", helvetica, arial, sans-serif;
}

a:link {
  color: #42409e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #040347;
  text-decoration: none;
}

p{
  margin-left: 15px;
  max-width: 600px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
}

img {
  width: 240px;
  margin-left: 15px;
}
