p {
  color: red;
  text-align: center;
}

h1 {
  font-style: italic;
  font-size: 300%;
}

#test-id-1 {
  color: purple;
}

.test-class {
  text-shadow: 5px 5px darkblue;
}

a:hover {
  color: darkred;
}
